@page "/application/create/{appId:int}"

@using DataModels.ApplicationModels
@using EMPP_Server.Data
@using EMPP_Server.Infrastructure.Repositories.GeneInfoRepo
@using EMPP_Server.Infrastructure.Repositories.IMainInfoRepo
@using EMPP_Server.Infrastructure.Repositories.IRepo
@using Microsoft.AspNetCore.Identity


@inject IMainInfoRepo _MainInfo
@inject IInitialStage _initial
@inject IGeneInfo _GeneInfo
@inject NavigationManager _nav
@inject ISnackbar _Snack
@inject UserManager<ApplicationUser> _userManager
@inject AuthenticationStateProvider _auth

<PageTitle>Application @(IsNew ? "Add" : "Edit")</PageTitle>


<MudItem>
    <MudTimeline Reverse="true" TimelinePosition="TimelinePosition.Bottom" TimelineOrientation="TimelineOrientation.Horizontal">
        <MudTimelineItem>
            <MudText Align="Align.Center">Intake</MudText>
        </MudTimelineItem>
        <MudTimelineItem DotStyle="background-color: #ff0000">
            <MudText Align="Align.Center">Main Information</MudText>
        </MudTimelineItem>
        <MudTimelineItem>
            <MudText Align="Align.Center">Work History</MudText>
        </MudTimelineItem>
        <MudTimelineItem>
            <MudText Align="Align.Center">Language Data</MudText>
        </MudTimelineItem>
        <MudTimelineItem>
            <MudText Align="Align.Center">Education</MudText>
        </MudTimelineItem>
    </MudTimeline>
</MudItem>


@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@MainInfo" OnValidSubmit="SaveApplication">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <MudCard>
            <MudCardHeader>
                <MudGrid Justify="Justify.SpaceBetween">
                    <MudItem>
                        <MudGrid Justify="Justify.FlexStart">
                            <MudItem>
                                <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Large" />
                            </MudItem>
                            <MudItem>
                                <MudText Typo="Typo.h5">Applicant Name: @($"{Application.FirstName} {Application.LastName}")</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem>
                        <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="SaveApplication">Save</MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="First Name" @bind-Value="MainInfo.FirstName" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.FirstName)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Last Name" @bind-Value="MainInfo.LastName" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.LastName)" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Middle Name" @bind-Value="MainInfo.MiddleName" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.MiddleName)" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="string" Label="Gender" @bind-Value="MainInfo.Gender" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">
                            <MudSelectItem Value="@("Male")" />
                            <MudSelectItem Value="@("Female")" />
                            <MudSelectItem Value="@("Other")" />
                        </MudSelect>
                        <ValidationMessage For="@(() => MainInfo.Gender)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudDatePicker Label="Date of Birth" @bind-Date="MainInfo.DateOfBirth" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.DateOfBirth)" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardContent>
                <MudText Typo="Typo.h6">Contact Information</MudText>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField Disabled T="string" Label="Email" @bind-Value="MainInfo.Email" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.Email)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Phone Number" @bind-Value="MainInfo.Phone" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.Phone)" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="WhatsApp" @bind-Value="MainInfo.WhatsApp" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.WhatsApp)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        @*Empty*@
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardContent>
                <MudText Typo="Typo.h6">Country Of Residence</MudText>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="string" Label="Country" @bind-Value="MainInfo.COR" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">
                            @foreach (var item in CountryList)
                            {
                                <MudSelectItem Value="@item" />
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => MainInfo.COR)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudDatePicker Label="Date Of Entry" @bind-Date="MainInfo.DateOfEntry" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.DateOfEntry)" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Passport Number" @bind-Value="MainInfo.PassportNumber" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.PassportNumber)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Passport Expiry" @bind-Value="MainInfo.PassportExpiry" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.PassportExpiry)" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Address Line 1" @bind-Value="MainInfo.AddressLine1" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.AddressLine1)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Address Line 2" @bind-Value="MainInfo.AddressLine2" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.AddressLine2)" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="City" @bind-Value="MainInfo.City" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.City)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="State" @bind-Value="MainInfo.State" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.State)" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudTextField T="string" Label="Postal Code" @bind-Value="MainInfo.PostalCode" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense" />
                        <ValidationMessage For="@(() => MainInfo.PostalCode)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        @*Empty*@
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardContent>
                <MudText Typo="Typo.h6">Nationality</MudText>
                <MudGrid>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="string" Label="Nationality" @bind-Value="MainInfo.Nationality" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">
                            @foreach (var item in CountryList)
                            {
                                <MudSelectItem Value="@item" />
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => MainInfo.Nationality)" />
                    </MudItem>
                    <MudItem xs="12" sm="6">
                        <MudSelect T="string" Label="Country Of Birth" @bind-Value="MainInfo.CountryOfBirth" Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">
                            @foreach (var item in CountryList)
                            {
                                <MudSelectItem Value="@item" />
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => MainInfo.CountryOfBirth)" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudGrid Justify="Justify.FlexEnd" Class="justify-content-center">
                    <MudItem>
                        <button type="submit" class="btn btn-primary">Next</button>
                    </MudItem>
                    <MudItem>
                        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                    </MudItem>
                </MudGrid>
            </MudCardActions>
        </MudCard>
    </EditForm>
}

@code {

    [Parameter]
    public int appId { get; set; }

    public bool IsNew { get; set; } = true;

    public bool IsLoading { get; set; } = false;

    public MainInfoDTO MainInfo { get; set; } = new MainInfoDTO();
    public InitialStageDTO Application { get; set; } = new InitialStageDTO();


    // Get Current User
    public ApplicationUser CurrentUser { get; set; } = new ApplicationUser();

    private async Task GetCurrentUser()
    {
        var authState = await _auth.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user != null)
        {
            var userObj = await _userManager.FindByEmailAsync(user.Identity.Name);
            if (userObj != null)
            {
                CurrentUser = userObj;
                MainInfo.UserId = CurrentUser.Id;
                MainInfo.Email = CurrentUser.Email;
            }
        }
    }



    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await LoadApplication();
        await GetCurrentUser();
        await GetCountryNamesAsync();
        await Task.Delay(250);
        MainInfo.FirstName = Application.FirstName;
        MainInfo.LastName = Application.LastName;
        if (MainInfo.InitialStageId != 0)
        {
            IsNew = false;
        }
        IsLoading = false;
    }

    public async Task LoadApplication()
    {
        if (appId != 0)
        {
            Application = await _initial.GetApplicationById(appId);
            MainInfo = await _MainInfo.GetMainInfoByAppId(appId);
        }
    }

    public async Task SaveApplication()
    {
        MainInfo.InitialStageId = Application.Id;
        MainInfo.FirstName = Application.FirstName;
        MainInfo.LastName = Application.LastName;
        if (IsNew)
        {
            await _MainInfo.AddMainInfo(MainInfo);
        }
        else
        {
            await _MainInfo.UpdateMainInfo(MainInfo);
        }

        // Navigate to the work history page
        _nav.NavigateTo($"/workhistory/edit/{appId}");
        // Success message
        _Snack.Add("Application saved successfully", Severity.Success);
    }

    public void Cancel()
    {
        _nav.NavigateTo("/applications");
    }


    // list of Gender
    private List<string> GenderList = new List<string> { "Male", "Female", "Other" };

    // List of Country from API https://restcountries.com/v3.1/all

    public new List<string> CountryList { get; set; } = new List<string>();

    public async Task GetCountryNamesAsync()
    {
        CountryList = await _GeneInfo.GetALLCountries();
    }

}
